
noise_schedule_type: linear
ddpm_param: 1
seed: 46
use_wandb: True
save_progressive: True
init_xt_y: False
pertub: True
mode: train

save_checkpoint_range: 30
save_checkpoint_dir: # DIRECTORY_TO_SAVE_CHECKPOINTS
save_dir: # DIRECTORY_TO_SAVE_RESULTS

in_channels: 1
out_channels: 1
im_size: 32
num_channels: 64
num_gpus: 1

data:
  in_channels: 1
  out_channels: 1
  im_size: 32
  test_batch_size: 32
  num_workers: 32
  shuffle: True
  train_batch_size: 32
  number_sample_per_epoch: 16000
  is_random_sampler: True
  root: DIRECTORY_TO_DATASETS
  dataset_name: DATASET_NAME  # e.g. CT, ImageNet FFHQ, LSUN, MNIST

model:
  use_lora: true
  rank: 5
  target_modules: ["qkv", "proj_out"]
  frozen_model_name: MNIST_diffusion
  frozen_model_dir: # DIRECTORY_OF_FROZEN_MODEL

train: # Training parameters
  adversarial: 1
  num_z_train: 1
  num_z_test: 1
  gp_weight: 0.01
  beta_2: 0.999
  beta_1: 0.5
  learning_rate: 0.0001
  num_epochs: 400
  resume: False
  resume_epoch: 0
  gradient_accumulation: False
  acc_grad_step: 10
  gradient_clip: True
  scale_lpips: 0.1
  gradient_scale_dist: 0.01

dpir:
  use_dpir: False # Initialize using DPIR opposed to RAM or A^\dagger y

physic:
  kernel_size: 5
  operator_name: gaussian  #"gaussian", "uniform_motion", "random", "box"
  random_blur: False
  sigma_model: 0.01
  transform_y: True

  inp:
    mask_rate: 0.2
    box_proportion: 0.5
    # Coordinates of top-left corner of the inpainting mask
    index_ii: None  
    index_jj: None
      
  deblur:
    random_blur: False # Randomly apply different blur kernel to each input image
      
  sr:
    sf: 4 # Downsampling factor

  ct:
    angles: 78
    step_algo: 0.00001
    max_iter_algo: 10

evaluation:
  save_images: True
  fid: True
  swd: True
  cmmd: True
  metrics: True
  skipper: 2
  coverage: False
    