
noise_schedule_type: linear
ddpm_param: 1
seed: 46
use_wandb: True
save_progressive: True
init_xt_y: False
pertub: True
mode: train

save_checkpoint_range: 30
save_checkpoint_dir: /users/cmk2000/sharedscratch/CKM/Regularised_CDM
save_dir: /users/cmk2000/sharedscratch/CKM/Regularised_CDM/Results

in_channels: 3
out_channels: 3
im_size: 256
num_channels: 128
num_gpus: 1

data:
  in_channels: 3
  out_channels: 3
  im_size: 256
  test_batch_size: 1
  num_workers: 32
  shuffle: True
  train_batch_size: 4
  number_sample_per_epoch: 3000
  is_random_sampler: True
  # dataset_path: /users/cmk2000/sharedscratch/Datasets/ffhq_dataset
  dataset_path: "" #/training_CT_data/trainingset_true_tiff
  root: /users/cmk2000/sharedscratch/Datasets 
  dataset_name: ImageNet  # CT, ImageNet FFHQ, LSUN

model:
  use_lora: True
  rank: 5
  target_modules: ["qkv", "proj_out"]
  frozen_model_name: diffusion_ffhq_10m 
  frozen_model_dir: /users/cmk2000/sharedscratch/Pretrained-Checkpoints/model_zoo

train:
  adversarial: 1
  num_z_train: 1
  num_z_test: 1
  gp_weight: 10 #0.01
  beta_2: 0.999
  beta_1: 0.5
  learning_rate: 0.0001
  num_epochs: 1000
  resume: False
  resume_epoch: 0
  gradient_accumulation: False
  acc_grad_step: 10
  gradient_clip: True
  scale_lpips: 0.1
  gradient_scale_dist: 0.01

dpir:
  use_dpir: False
  pretrained_pth: 
  pretrained_pth: /users/cmk2000/sharedscratch/Pretrained-Checkpoints/model_zoo
  model_name: drunet_color #"ircnn_color, drunet_color",

physic:
  kernel_size: 3
  operator_name: random  #"gaussian", "uniform_motion", "random", "box"
  random_blur: False
  sigma_model: 0.01
  transform_y: True
      
  deblur:
    random_blur: False
  
  phase_retrieval:
    oversampling_ratio: 2.0
  jpeg:
    qf: 10

evaluation: 
  save_images: True
  fid: True
  swd: True
  cmmd: True
  metrics: True
  skipper: 2
  coverage: False

gradient_descent:
  max_iter_algo: 50
  step_algo: 0.01
    