
noise_schedule_type: linear
ddpm_param: 1
seed: 46
use_wandb: True
save_progressive: True
init_xt_y: False
pertub: True
mode: train

save_checkpoint_range: 30
save_checkpoint_dir: /users/js3006/conddiff/UD2M/Results/ablation_16
save_dir: /users/js3006/conddiff/UD2M/Results/ablation_16

in_channels: 1
out_channels: 1
im_size: 32
num_channels: 64
num_gpus: 1

data:
  in_channels: 1
  out_channels: 1
  im_size: 32
  test_batch_size: 32
  num_workers: 32
  shuffle: True
  train_batch_size: 32
  number_sample_per_epoch: 16000
  is_random_sampler: True
  # root: /users/cmk2000/sharedscratch/Datasets 
  root: /users/js3006/conddiff/UD2M/datasets
  dataset_name: MNIST  # CT, ImageNet FFHQ, LSUN

model:
  use_lora: true
  rank: 5
  target_modules: ["qkv", "proj_out"]
  frozen_model_name: MNIST_diffusion
  frozen_model_dir: /users/js3006/conddiff/UD2M/model_zoo

train:
  adversarial: 1
  num_z_train: 1
  num_z_test: 1
  gp_weight: 0.01
  beta_2: 0.999
  beta_1: 0.5
  learning_rate: 0.0001
  num_epochs: 400
  resume: False
  resume_epoch: 0
  gradient_accumulation: False
  acc_grad_step: 10
  gradient_clip: True
  scale_lpips: 0.1
  gradient_scale_dist: 0.01

dpir:
  use_dpir: False

physic:
  kernel_size: 5
  operator_name: gaussian  #"gaussian", "uniform_motion", "random", "box"
  random_blur: False
  sigma_model: 0.01
  transform_y: True
    
  inp:
    mask_rate: 0.2
    # operator_name: random
    box_proportion: 0.5
    index_ii: None
    index_jj: None
      
  deblur:
    random_blur: False
      
  sr:
    sf: 4

  ct:
    angles: 78
    step_algo: 0.00001
    max_iter_algo: 10

evaluation:
  save_images: True
  fid: True
  swd: True
  cmmd: True
  metrics: True
  skipper: 2
  coverage: False
    